.product-list{
  width: calc( 100% - 300px); 
}

a {
  color: gray;
}

.productInfo, .productPic{
  text-align: center;
}

.item{
  margin: 0 auto;
}

.cart{
  width: 300px;
  float: right;
  border-left: 1px solid gray;
  padding-left: 30px;
}

.cart-item-info {
    width: 140px;
    float: right;
    padding: 0px 15px;
}

.cart-item-info h5{
  margin-top: 0px;
}

.cart-item{
  width: 250px;
  height: 130px;
}

.cart-item img{
  height: 65px;  
}

.cart-img{
  float: left;
  text-align: center;
}

.cart-item-info .button_to{
  display: inline-block;
}

.form-control {
    display: inline-block;
    width: 20%;
}

.form-group{
  padding: 15px;
}    

.order-submit{
  margin: 0px 0px 15px 15px;
}

/* order */
.panel-order {
  padding: 0;
}

.panel-order h2 {
  background: #eee;
  margin: 0;
  padding: 5px 15px;
}

.order-content {
  display: flex;
}

.order-data {
  padding: 10px;
  margin: 5px 15px;
}

.order-list {
  width: 50vw;
}


.left-section {
  border-right: 1px solid #999;
}

