.product-list{
  border-right-style: solid;
  width: calc( 100% - 280px);
  
}

a {
  color: gray;
}

.productInfo, .productPic{
  text-align: center;
}

.item{
  margin: 0 auto;
}

.cart{
  width: 250px;
  float: right;
}