.product-list{
  width: calc( 100% - 300px); 
}

a {
  color: gray;
}

.productInfo, .productPic{
  text-align: center;
}

.item{
  margin: 0 auto;
}

.cart{
  width: 300px;
  float: right;
  border-left: 1px solid gray;
  padding-left: 30px;
}

.cart-item-info {
    width: 140px;
    float: right;
    padding: 0px 15px;
}

.cart-item-info h5{
  margin-top: 0px;
}

.cart-item{
  width: 250px;
  height: 130px;
}

.cart-item img{
  height: 65px;  
}

.cart-img{
  float: left;
  text-align: center;
}

